fastapi==0.115.14
uvicorn[standard]==0.34.3
python-multipart==0.0.20
pydantic==2.11.7
pydantic-settings==2.10.1

numpy==1.26.4
protobuf==4.25.9
opencv-python==4.11.0.86
opencv-contrib-python==4.11.0.86
mediapipe==0.10.21

tensorflow==2.19.0
tf-keras==2.19.0
deepface==0.0.93
supabase==2.15.3
